<nav *ngIf="authService.isAuthenticated()">
  <button (click)="logout()">Déconnexion</button>
</nav>

<div *ngIf="authService.isAuthenticated()" class="model-selector">
  <label for="modelSelect">Choisir un modèle :</label>
  <select id="modelSelect" [(ngModel)]="selectedModel">
    <option *ngFor="let model of models" [value]="model">{{ model }}</option>
  </select>
</div>



<main class="main" *ngIf="authService.isAuthenticated()">
  <div class="container">
    <div class="editor-container">
      <app-text-editor></app-text-editor>
      <div class="button-container">
        <button class="send-button" (click)="sendToApi()">
          ➜
        </button>
      </div>
      <app-correct-text></app-correct-text>
    </div>
  </div>
</main>

<router-outlet *ngIf="!authService.isAuthenticated()"></router-outlet>
